<%- include("../header.ejs") %>
    <div class="box" id="heading" style="margin-top: 5%;">
        <h1>Products</h1>
    </div>
    <div class="box">
        <% for(let i=1;i<itemc.length ;i+=2){ %>
            <div class="item">
                <input type="checkbox" name="pcheckbox"  onchange="this.form.submit()">
                <p><%= itemc[i-1] %>-₹<%= itemc[i] %></p>
            </div>
        <% } %>
        <input type="text" name="newitem" placeholder="Enter address">
        <form class="item" action="/views/order" method="post">
            <input type="text" name="newitem" placeholder="Click + to add from cart or add here">
            <button type="submit" name="button">+</button>
        </form>
    </div>
    <div class="box" id="heading" style="margin-top: 5%;">
        <h1 style="color: green;">Go to payment gateway</h1>
    </div>
<%- include("../footer.ejs") %>